<%= form_with(model: company_group, local: true) do |form| %>
  <% if company_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_group.errors.count, "error") %> prohibited this company_group from being saved:</h2>

      <ul>
      <% company_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :father_group %>
    <%= form.number_field :father_group %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
