<%= form_with(model: company_group, local: true) do |form| %>
  <% if company_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_group.errors.count, "error") %> prohibited this company_group from being saved:</h2>

      <ul>
      <% company_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :father_group %>
    <%= form.select :father_group, @company_groups.collect { |company_group| [company_group.name, company_group.id] } %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.select :parent_id, options_from_collection_for_select(@company_groups, "id", "name") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
