<p id="notice"><%= notice %></p>

<h1>Company Groups</h1>
<%= link_to 'New Company Group', new_company_group_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Father group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_groups.each do |company_group| %>
    <tr>
      <td><%= company_group.name %></td>
      <td><%= company_group.father_group %></td>
      <td><%= link_to 'Show', company_group %></td>
      <td><%= link_to 'Edit', edit_company_group_path(company_group) %></td>
      <td><%= link_to 'Destroy', company_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% @company_groups.each do |company_group| %>
<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#<%= company_group.name %>">Menu 1</a></li>
</ul>

<div class="tab-content">
  <div id="<%= company_group.name %>" class="tab-pane fade">
    {
    <p>{<%= company_group.id %>, <%= company_group.name %>, <%= company_group.father_group %>},</p>
    <% end %>
    }
  </div>
</div>


<br>
