<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company_group.name %>
</p>


<ul id="menu">
  {
  <% @company_group.subtree.each do |company_group| %>

      <p>{id:<%= company_group.id %>, nome:<%= company_group.name %>, grupo_pai:<%= company_group.parent_id %>},</p>

  <% end %>
}
</ul>

<%= link_to 'Edit', edit_company_group_path(@company_group) %> |
<%= link_to 'Back', company_groups_path %>
